/* background-color: #2fa2cc */

/* Body */

	.is-preload {
		margin: 0px;
	}

/* Header */

	header {
		width: 372px;
		height: 949px;
	}

	.header {
		border: 2px solid blue;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background: #2fa2cc;
		color: #35E5F2;
		height: 100%;
		overflow-y: auto;
		position: fixed;
		text-align: center;
		top: 0;
		width: 23em;
		right: 0;
	}
	.logo a {
		color: #ffffff;
		text-decoration: none;
		font-size: 30px;
	}

/* Nav */

	.nav  {
		padding-top: 15px
	}

	.active {
		text-decoration: none;
		color: #ffffff;
		font-size: 22px;
	}

	li {
		list-style-type: none;
		padding: 15px;
		border-bottom: 2px solid lightgray;
	}

/* Images */

	.image-avatar {
		width: 50%;
	}

	.image-main img {
		height: 850px;
	}

/* Sections */

	#one {
		border: 2px solid orange;
	}

	#two {
		border: 2px solid red;
	}

	#three {
		border: 2px solid green;
	}