/* background-color: #2fa2cc */

@media screen and (max-width: 1024px) {

	.container {
		width: 100% !important;
	}
}

@media screen and (max-width: 480px) {

	.container {
		max-width: 480px;
	}

}
/* Body */

	.is-preload {
		margin: 0px;
	}

/* Basic */

h2 {
	font-size: 30px;
}

h3 {
	font-size: 26px;
}

h2, h3, h4 {
	color: #645F5F;
}

p {
	color: gray;
	font-size: 20px;
}

.wrapperDiv {
	width: 80.5%;	
}

.container {
	margin: 0 auto;
	width: 50%;
	padding: 70px;
}

hr {
	border: 3px solid lightgray;
	opacity: 0.5;
}

/* Header */

	header {
		width: 372px;
	}

	.header {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background: #2fa2cc;
		color: #35E5F2;
		height: 100%;
		overflow-y: auto;
		position: fixed;
		text-align: center;
		top: 0;
		width: 23em;
		right: 0;
	}

	header p {
		color: #35E5F2;
		font-size: 16px;
		padding: 5px;
	}

	.logo a {
		color: #ffffff;
		text-decoration: none;
		font-size: 30px;
	}

/* Nav */

	.nav  {
		padding-top: 15px
	}

	.active {
		text-decoration: none;
		color: #ffffff;
		font-size: 22px;
	}

	.nav li {
		list-style-type: none;
		padding: 15px;
		border-bottom: 2px solid lightgray;
	}

/* Images */

	.image-avatar {
		width: 50%;
	}

	.image-main img {
		width: 105%;
		height: 550px;
	}

	.features img {
		width: 50%;
	}

/* Sections */

	.features article .inner {
		vertical-align: middle;
		width: 45%;
		float: right;
	}

	.feature-icons {
		color: gray;
	}

	article {
		padding: 10px;
	}